body {
  background-color: #181818; /* Example dark background */
  color: #ffffff; /* Example white text */
  font-family: sans-serif;
}

header {
  background-image: url("1500x500 1.jpg");
  background-size: cover; 
  text-align: center;
  padding: 20px;
}
