::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
}

::-webkit-scrollbar-track {
  background: transparent; /* Or a very subtle dark gray */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #28313B, #485461); /* Dark gradient */
  border-radius: 100vw; 
  border: 2px solid transparent; /* Adds a subtle outline effect */
  background-clip: padding-box; /* Ensures the border is visible */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #37475B, #68788D); /* Slightly lighter on hover */
}
